# Detect JS and React in all nested folders
*.js linguist-detectable=true
*.jsx linguist-detectable=true

# Explicitly include src/components and other React folders
react-portfolio/src/** linguist-detectable=true

# Detect CSS but deprioritize it
*.css linguist-detectable=true
tailwind.config.js linguist-detectable=false

# Ignore HTML for stats
*.html linguist-detectable=false
