# Force GitHub to detect JS and React files (all nested folders)
*.js linguist-detectable=true
*.jsx linguist-detectable=true
react-portfolio/src/** linguist-detectable=true

# Deprioritize CSS
*.css linguist-detectable=false
tailwind.config.js linguist-detectable=false
postcss.config.js linguist-detectable=false

# Ignore SVGs and images for language stats
*.svg linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.jpeg linguist-detectable=false

# Ignore HTML for language stats
*.html linguist-detectable=false
